<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_Uiform::top_level" 
            title="Custom Uiform" 
            module="Custom_Uiform" 
            sortOrder="30" 
            resource="Custom_Uiform::manage" 
            parent="Magento_Catalog::catalog"/>
        <add id="Custom_Uiform::uiform_manage" 
            title="Uiform" 
            module="Custom_Uiform" 
            sortOrder="10" 
            parent="Custom_Uiform::top_level" 
            action="uiform/index/" 
            resource="Custom_Uiform::manage"/>
    </menu>
</config>